body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}
.orange-color{
    color:orange
}

.flexible-containar{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-bennar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.second-chapter{
    width: 50%;
}
.second-chapter img{
    width: 110%;
}
#second-img{
    width: 40%;
    margin-left: 50px;
    margin-top: 200px;
}

.experience-aria{
    background-image:url(images/exp-bg.png) ;
    background-repeat: no-repeat;
    background-position:left;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
}
#as-a-arabic-student{
    border-left: 7px solid tomato;
}
#junior-web-developar{
    border-left: 7px solid rgb(84, 174, 234);
    
}
footer{
    text-align: center;
}

